{% extends 'blog/base.html' %}

{% block content %}
    <h1>Insira um novo post</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}

        <label for="title">Título</label>
        <input type="text" id="title" name="title" value="{{ post.title }}">

        <label for="title">text</label>
        <input type="text" id="title" name="text" value="{{ post.text }}">  

        <!-- {{ post.title }} -->
        <!-- {{ post.title }} -->

        <p><button type="submit" class="save btn btn-primary">Save</button></p>
        <!-- <p><button type="reset" class="btn btn-primary">Cancel</button></p> -->









    </form>
{% endblock %}      