{% extends 'base.html' %}

{% block content %}
    <section class="post-detail">
        <h1>{{ post.title }}</h1>
        <h5 class="text-muted d-block font-weight-normal mb-4">Subtitulo</h5>
        <div class="d-inline-block">
            <h6>
                <small class="text-body d-block">{{ post.author.name }}</small> 
                <small class="text-body d-block">{{ post.pub_date|date:"d M Y" }}</small>
            </h6>    
        </div>
        <div class="d-inline-block">
            <img src="{{ post.author.photo.url }}" class="img-fluid img-thumbnail rounded" alt="">
        </div>

        <div class="post-detail__content mt-5">
            <img src="{{ post.image.url }}" class="img-fluid my-3" alt="">
            <p>{{ post.text|linebreaksbr }}</p>
            
            {% if user.is_authenticated %}
                <div class="post__actions text-right mt-5">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-secondary mt-5"><i class="far fa-edit"></i></a>
                        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger mt-5"><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>
{% endblock %}