{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="post-delete text-center">
        <h2 class="mb-5"> Tem certeza que deseja deletar o post <span class="d-block"><span class="text-danger">{{ post.title }}</span>? <img src="{% static 'images/sad.svg' %}" width=30px;> </span></h2>
        
        <form method="POST" class="post-form">
            {% csrf_token %}
            <h5>{{ post.title|truncatechars:20 }}</h5>
            <p>{{ post.text|truncatechars:50 }}</p>
            <button type="submit" class="btn btn-danger mt-5">Excluir post</button>
        </form>  
        
    </div>
{% endblock %}